---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
};

const props = Astro.props;
const { label, isUnderline, ...rest } = props;
---

<a
  href={rest.href}
  class:list={{
    ["hover:text-neutral-100 cursor-pointer"]: true,
    ["underline decoration-dashed underline-offset-8"]: isUnderline,
  }}
  {...rest}
  rel="noreferrer"
  target="_blank"
>
  {label}
  <span class="sr-only">{label} link</span>
</a>
